@font-face {
  font-family: "iconfont"; /* Project id 4373568 */
  src: url('iconfont.woff2?t=1702544136662') format('woff2'),
       url('iconfont.woff?t=1702544136662') format('woff'),
       url('iconfont.ttf?t=1702544136662') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji-xian:before {
  content: "\e79f";
}

.icon-biaodan-xian:before {
  content: "\e7a0";
}

.icon-a-guanbi2:before {
  content: "\e7a1";
}

.icon-a-guanbiquxiao-xian:before {
  content: "\e7a2";
}

.icon-fuzhilianjie:before {
  content: "\e7a3";
}

.icon-guanbi:before {
  content: "\e7a4";
}

.icon-gengduo-xian:before {
  content: "\e7a5";
}

.icon-a-jiantou-xia:before {
  content: "\e7a6";
}

.icon-a-jiantou-you:before {
  content: "\e7a7";
}

.icon-a-jiantou-shang:before {
  content: "\e7a8";
}

.icon-a-jiantou-zuo:before {
  content: "\e7a9";
}

.icon-shijian-xian:before {
  content: "\e7aa";
}

.icon-shoucang-xian:before {
  content: "\e7ab";
}

.icon-sousuo-xian:before {
  content: "\e7ac";
}

.icon-tishi-xian:before {
  content: "\e7ad";
}

.icon-tianjia-xian:before {
  content: "\e7ae";
}

.icon-shuaxin-xian:before {
  content: "\e7af";
}

.icon-tianjia-liebiao:before {
  content: "\e7b0";
}

.icon-xiazai-xian:before {
  content: "\e7b1";
}

.icon-riqi-xian:before {
  content: "\e7b2";
}

.icon-yiwen-xian:before {
  content: "\e7b3";
}

.icon-pin-xian:before {
  content: "\e7b4";
}

.icon-shanchu-xian:before {
  content: "\e7b5";
}

.icon-shezhi-xian:before {
  content: "\e7b6";
}

.icon-zhongzhi-xian:before {
  content: "\e7b7";
}

